name: Test
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  tests:
    name: Running tests
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Code format
      run: test -z "$(gofmt -d . | tee /dev/stderr)"

    - name: Vet
      run: go vet ./...

    - name: Test
      run: go test -race -covermode=atomic ./...

    - name: Build
      run: go build
